@model List<ShyamDhokiya_557_Model.ViewModel.ProductModel>


@if (@TempData["Add"] != null)
{
    <script>
        toastr.success('@TempData["Add"]')
    </script>
}

@if (@TempData["Edit"] != null)
{
    <script>
        toastr.success('@TempData["Edit"]')
    </script>
}

@if (@TempData["delete"] != null)
{
    <script>
    toastr.success('@TempData["delete"]')
    </script>
}

@if (@TempData["DeleteError"] != null)
{
    <script>
        toastr.success('@TempData["DeleteError"]')
    </script>
}


<div class="container">
    <div class="mt-3">
        <a href="Addproduct" class="btn btn-primary"> Add Product</a>
    </div>
    <div class="mt-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Name</td>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Descrption</td>
                            <td>@item.Type</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>
                                <div class="d-flex">
                                    <a class="btn btn-success mx-2 btn-sm" href="~/Admin/EditProduct?ProductId=@item.ProductId">Edit</a>
                                    <a class="btn btn-danger mx-2 btn-sm" href="~/Admin/DeleteProduct?ProductId=@item.ProductId">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>