
@model List<QuizManagement_Model.ViewModel.QuizModel>
@if (@TempData["LoginUser"] != null)
{
    <script>
        toastr.success('@TempData["LoginUser"]')
    </script>
}
<div class="container mt-5">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="text-center" style="color: #2A629A;">Quiz List</h4>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Description</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="CreateQuestion">@item.title</a>
                                    </td>
                                    <td>@item.description</td>
                                    <td class="d-flex">
                                        @if (item.is_completed == 0)
                                        {
                                            @Html.ActionLink("Start", "QuizStart", new { quiz_id = item.quiz_id, Controller = "Home" }, new { @class = "btn btn-success sm mx-2" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Result", "ViewResult", new { quiz_id = item.quiz_id, user_id = Session["UserId"], Controller = "Home" }, new { @class = "btn btn-success sm" })
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>