@model QuizManagement_Model.ViewModel.QuizModel

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-flex align-items-center text-primary">
                    <h3 class="mx-2">Quiz Title</h3>
                    @Html.DisplayTextFor(m => m.title)
                </div>
                <div class="col-12 d-flex align-items-center text-primary">
                    <h5 class="mx-2">Quiz Description</h5>
                    @Html.DisplayTextFor(m => m.description)
                </div>
            </div>

            <div class="row mt-4" id="QuestionContainer">

                
            </div>
            <div class="col-12  d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="start-btn">Start</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var responses = []
    var quiz_id = @Model.quiz_id;
    var user_id = @Session["UserId"]
    $(document).ready(function () {
        $("#start-btn").on("click", function () {
            $("#start-btn").hide()
            var quiz_id = @Model.quiz_id
            $.ajax({
                url: "/Home/GetQuestion?quiz_id=" + quiz_id,
                type: 'GET',
                dataType : "html",
                success: function (result) {
                    @*console.log(result)*@
                    $("#QuestionContainer").html(result)
                }
            })
        })

        
    })
    function mySubmitData() {
        debugger
        console.log(responses)

        $.ajax({
            url: "/Home/SaveAnswer",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(responses),
            success: function (data) {
                if (data.success) {
                    window.location.href = data.redirectUrl
                }
            }
        })
    }
    function getNextQuestion(currentQuestionId) {
        
        var selectedOption = $(".optionId:checked")
        if (selectedOption.length === 0) {
            @*alert("Please select an option before proceeding.");*@
            toastr.error("Please select an option before proceeding.")
            return;
        }

        $.ajax({
            url: `/Home/GetNextQuestion?quiz_id=${quiz_id}&currentQuestionId=${currentQuestionId}`,
            type: 'GET',
            success: function(result) {
                $("#QuestionContainer").html(result);
            },
        });
    }
    function getPreviousQuestion(currentQuestionId) {
        
        let quiz_id = @Model.quiz_id;
        
        let currentObject = responses.find(res => res.ques_id === currentQuestionId - 1);
        $.ajax({
            url: `/Home/GetPreviousQuestion?quiz_id=${quiz_id}&currentQuestionId=${currentQuestionId}`,
            type: 'GET',

            success: function (result) {
                $("#QuestionContainer").html(result);
                $(".optionId").each(function () {
                    if ($(this).val() == currentObject.selected_option_id) {
                        $(this).prop('checked', true);
                    } 
                });
            },

        });
    }
    function myFunction(currentQuestionId, option_id) {
        $(".optionId").each(function () {
            if ($(this).val() == option_id) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }
        });


        var myObject = {
            user_id : user_id,
            quiz_id : quiz_id,
            ques_id: currentQuestionId,
            selected_option_id : option_id,
        }

        let existResponse = responses.findIndex(r => r.ques_id === currentQuestionId)
        if (existResponse !== -1) {
            responses[existResponse] = myObject
        } else {
            responses.push(myObject)
        }
    }
</script>


