@model QuizManagement_Model.ViewModel.QuizModel

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <input type="text" id="quiz_id" value="@Model.quiz_id"/>
            <div class="row"> 
                <div class="col-12 d-flex align-items-center text-primary">
                    <h3 class="mx-2">Quiz Title</h3>
                    @Html.DisplayTextFor(m => m.title)
                </div>
                <div class="col-12 d-flex align-items-center text-primary">
                    <h5 class="mx-2">Quiz Description</h5>
                    @Html.DisplayTextFor(m => m.description)
                </div>
            </div>

            <div class="row mt-4" id="QuestionContainer">

            </div>
            <div class="col-12  d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="start-btn">Start</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $("#start-btn").on("click", function () {
            $("#start-btn").hide()
            var quiz_id = @Model.quiz_id
            $.ajax({
                url: "/Home/GetQuestion?quiz_id=" + quiz_id,
                type: 'GET',
                dataType : "html",
                success: function (result) {
                    @*console.log(result)*@
                    $("#QuestionContainer").html(result)
                }
            })
        })
    })

    function getNextQuestion(currentQuestionId) {
        var quiz_id = @Model.quiz_id;

        $.ajax({
            url: `/Home/GetNextQuestion?quiz_id=${quiz_id}&currentQuestionId=${currentQuestionId}`,
            type: 'GET',
            success: function(result) {
                $("#QuestionContainer").html(result);
            },
        });
    }
    function saveAndGetNextQuestion(currentQuestionId) {
        let selectedOption = $('input[name="option"]:checked').val();
        let user_id = @Session["UserId"];
        let quiz_id = @Model.quiz_id;
        let ques_id = currentQuestionId;   
        let selected_option_id = selectedOption;

        


        if (!selectedOption) {
            alert("Please select an option before proceeding.");
            return;
        }

        
        $.ajax({
            url: '/Home/GetNextQuestion',
            type: 'POST',
            data: {
                user_id,
                quiz_id,
                ques_id,
                selected_option_id
            },
            success: function(res) {
                if (res.success) {
                    getNextQuestion(currentQuestionId)
                } else {
                    console.log("No Data Found")
                }
            },
            error: function() {
                alert("There was an error saving your answer. Please try again.");
            }
        });
    }

    function getPreviousQuestion(currentQuestionId) {
        console.log("hello")
        var quiz_id = @Model.quiz_id;

        $.ajax({
            url: `/Home/GetPreviousQuestion?quiz_id=${quiz_id}&currentQuestionId=${currentQuestionId}`,
            type: 'GET',

            success: function(result) {
                $("#QuestionContainer").html(result);
            },

        });
    }

</script>


