@model QuizManagement_Model.ViewModel.QuizModel

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <input type="text" id="quiz_id" value="@Model.quiz_id"/>
            <div class="row"> 
                <div class="col-12 d-flex align-items-center text-primary">
                    <h3 class="mx-2">Quiz Title</h3>
                    @Html.DisplayTextFor(m => m.title)
                </div>
                <div class="col-12 d-flex align-items-center text-primary">
                    <h5 class="mx-2">Quiz Description</h5>
                    @Html.DisplayTextFor(m => m.description)
                </div>
            </div>

            <div class="row mt-4" id="QuestionContainer">

            </div>
            <div class="col-12  d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="start-btn">Start</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">




    $(document).ready(function () {
        $("#start-btn").on("click", function () {
            $("#start-btn").hide()
            var quiz_id = @Model.quiz_id
            $.ajax({
                url: "/Home/GetQuestion?quiz_id=" + quiz_id,
                type: 'GET',
                dataType : "html",
                success: function (result) {
                    @*console.log(result)*@
                    $("#QuestionContainer").html(result)
                }
            })
        })
    })

    function getNextQuestion(currentQuestionId) {
        var quiz_id = @Model.quiz_id;

        console.log("Helloo 1", currentQuestionId)

        answerData = {
            ques_id: currentQuestionId
        }
        $.ajax({
            url: /Home/GetNextQuestion,
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(answerData)
        });

        $.ajax({
            url: `/Home/GetNextQuestion?quiz_id=${quiz_id}&currentQuestionId=${currentQuestionId}`,
            type: 'GET',
            success: function(result) {
                $("#QuestionContainer").html(result);
            },

        });
    }

    function getPreviousQuestion(currentQuestionId) {

        var quiz_id = @Model.quiz_id;
        
        $.ajax({
            url: `/Home/GetPreviousQuestion?quiz_id=${quiz_id}&currentQuestionId=${currentQuestionId}`,
            type: 'GET',

            success: function(result) {
                $("#QuestionContainer").html(result);
            },

        });
    }

</script>


