@model TaskManagement_Model.ViewModel.PaginationModel

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            CompletedTask List
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Task Name</td>
                        <td>Task Description</td>
                        <td>Student Name</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.assignmentList)
                        {
                            <tr>
                                <td>@item.TaskName</td>
                                <td>@item.Description</td>
                                <td>@item.StudentName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between">

                <div>

                    <div>
                        <a href="Index" class="btn btn-info">Back to Dashboard</a>
                    </div>
                </div>
                <div class="d-flex">
                    @for (var i = 0; i < Math.Ceiling((double)Model.Count) / 3; i++)
                    {
                        if (i + 1 == Model.CurrentIndex)
                        {
                            <span style="margin-right:5px;font-size:larger; margin-top:5px" class="page-link">@Html.Raw(i + 1)</span> }
                        else
                        {
                            <a href="~/Teacher/CompleteTaskList?index=@(i + 1)" style="margin-right:5px;font-size:larger; margin-top:5px" class="page-link">@(i + 1)</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>