@model TaskManagement_Model.ViewModel.PaginationModel

<div class="container-fluid mt-5">

    
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                @Html.ActionLink("Create Task", "Addtask", new { Controller = "Teacher" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Assign Task", "AssignTaskByTeacher", new { Controller = "Teacher" }, new { @class = "btn btn-primary" })
            </div>
            <table class="table table-striped table-bordered mt-3" id="datatable">
                <thead>
                    <tr>
                        <td>Task Name</td>
                        <td>Task Description</td>
                        <td>Task Deadline</td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.TaskList)
                    {
                        <tr>
                            <td>@item.TaskName</td>
                            <td>@item.Description</td>
                            <td>@item.Deadline</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="d-flex justify-content-between">

                <div>

                    <div>
                        <a href="Index" class="btn btn-info">Back to Dashboard</a>
                    </div>
                </div>
                <div class="d-flex">
                    @for (var i = 0; i < Math.Ceiling((double)Model.Count) / 2; i++)
                    {
                        if (i + 1 == Model.CurrentIndex)
                        {
                            <span style="margin-right:5px;font-size:larger; margin-top:5px" class="page-link">@Html.Raw(i + 1)</span> }
                        else
                        {
                            <a href="~/Teacher/TaskList?index=@(i + 1)" style="margin-right:5px;font-size:larger; margin-top:5px" class="page-link">@(i + 1)</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
