@model List<TaskManagement_Model.ViewModel.TaskModel>

<div class="container-fluid mt-5">

    <div class="d-flex justify-content-between">
        @Html.ActionLink("Create Task", "Addtask", new { Controller = "Teacher" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Assign Task", "AssignTask", new { Controller = "Teacher" }, new { @class = "btn btn-primary" })
    </div>

    <table class="table table-striped table-bordered mt-5" id="datatable">
        <thead>
            <tr>
                <td>Task Name</td>
                <td>Task Description</td>
                <td>Task Deadline</td>
                
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>    
                    <td>@item.TaskName</td>
                    <td>@item.Description</td>
                    <td>@item.Deadline.ToString().Split(' ')[0]</td>
                  
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#datatable").DataTable();
    })
</script>